{% extends 'base.html' %}
{%  block title %}
    My purchases
{% endblock %}

{% block content %}
    {% for purchase in object_list %}
        Quantity - {{ purchase.quantity }} <br>
        Product - {{ purchase.product.name }} <br>
        {% if purchase.ret %}
        <form method="post" action="{% url 'create_return' %}">
        {% csrf_token %}
        <input type="hidden" name="purchase_id" value="{{ purchase_pk }}">
        <input type="submit" value="Return">
        </form>
        <% endif %>
        <br>
    {% endfor %}
{% endblock %}